# Database Configuration
MONGODB_URI=mongodb+srv://mhattari1112_db_user:7LQaeA5bndMcgcHj@foodi.wa00elu.mongodb.net/food_database

# MSG91 SMS Configuration (Free tier: 100 SMS/month)
MSG91_AUTH_KEY=463525A9n0rh1s68942d0eP1
MSG91_TEMPLATE_ID=68942a0fcbc8493364218195
MSG91_SENDER_ID=786213190

# WhatsApp Business API Configuration (Free tier available)
WHATSAPP_TOKEN=EAAT57fIe89MBPD1GkEPOg3BSTPLWrUZCCU17V9WeucMLJCXZBkhKWBRZCPMeZAqO8MDbBiNQoS9yLWiK5J6rYSRaR7i06Mapy9tEhy8QM73y5wb3T67G8Sx3mObbzRGANN0KOkUKwsr1MTAsKAgoYvQcdfwsGLRZAKmYoQXwgm7j9HhZBZAgw3yxb5axvJEYChwuV7VVZA03yRjZCvueY4oYRgAMOskgZCIt8gxxPtT0B1mbZBUxgZDZD
WHATSAPP_PHONE_ID=720114771194014


# Email Configuration (Gmail)
EMAIL_USER=chat.hasnain@gmail.com
EMAIL_PASSWORD=wltz kglx dptk ntfy
